
.bg_z3 {
  width: 100vw;
  max-width:100%;
  height: (2880 / 1920)*100vw;
  background-image: url("../../../images/bg_z3_blur.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  //z-index: 3;
}