.bg_z0 .overflow_container .bg_z1 .bg_z2 .bg_z3 {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}


.bg_z0 {
  width: 100vw;
  height: 150vw;
  background-image: url("../../images/bg_z0.jpg");
  background-size: contain;
  position: relative;
  //z-index: 0;

  .overflow_container {
    width: 100vw;
    height: (1300 / 1920)*100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .bg_z1 {
      width: (2000 / 1920)*100vw;
      height: (1300 / 1920)*100vw;
      background-image: url("../../images/bg_z1_2000.png");
      background-size: contain;
      position: absolute;
      bottom: -2vw;
      left: -2vw;
      //z-index: 1;
    }
  }

  .bg_z2 {
    width: 100vw;
    height: (2880 / 1920)*100vw;
    background-image: url("../../images/bg_z2.png");
    background-size: contain;
    position: absolute;
    bottom: -55vw;
    left: 0;
    //z-index: 2;

    .bg_z3 {
      width: 100vw;
      height: (2880 / 1920)*100vw;
      background-image: url("../../images/bg_z3_blur.png");
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: 0;
      //z-index: 3;
    }
  }
}


.billboard_container {
  .pole {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vw;
    background-image: url("../../images/pole.png");
    background-size: contain;
    position: absolute;
    bottom: 30vw;
  }

  .billboard {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: (1000/1800)*60vw;
    background-image: url("../../images/billboard_yellow.png");
    background-size: contain;
    position: absolute;
    bottom: 97vw;
    left: 20vw;

    .js_logo {
      background-repeat: no-repeat;
      background-position: center;
      width: 10%;
      height: 20%;
      background-image: url("../../images/js_logo.png");
      background-size: contain;
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .billbord_head{
      text-align: center;
      font-size: 4rem;
      line-height: 5rem;
      color: #000;
      font-weight: 900;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


//.hide_scroll{
//  display: none;
//}

/////czyszczenie, na media się rozjechało. nie można dać wszystkim background-size : contain oraz position" absolute (nawet bez bg_z0
//.bg_z0 .overflow_container .bg_z1 .bg_z2 .bg_z3{
//  margin: 0;
//  padding: 0;
//  background-position: center;
//  background-size: contain;
//}
//
//
//.bg_z0 {
//  width: 100vw;
//  height: 150vw;
//  background-image: url("../../images/bg_z0.jpg");
//  position: relative;
//  //z-index: 0;
//  //overflow: hidden;
//  //overflow-y: hidden;
//
//  .overflow_container {
//
//    width: 100vw;
//    height: (1300 / 1920)*100vw;
//    bottom: 0;
//    left: 0;
//    overflow: hidden;
//
//
//    .bg_z1 {
//      width: (2000 / 1920)*100vw;
//      height: (1300 / 1920)*100vw;
//      background-image: url("../../images/bg_z1_2000.png");
//      position: absolute;
//      bottom: -2vw;
//      left: -2vw;
//      //z-index: 1;
//    }
//  }
//
//  .bg_z2 {
//    width: 100vw;
//    height: (2880 / 1920)*100vw;
//    background-image: url("../../images/bg_z2.png");
//    position: absolute;
//    bottom: -55vw;
//    left: 0;
//    //z-index: 2;
//
//    .bg_z3 {
//      width: 100vw;
//      height: (2880 / 1920)*100vw;
//      background-image: url("../../images/bg_z3_blur.png");
//      position: absolute;
//      bottom: 0;
//      left: 0;
//      //z-index: 3;
//    }
//  }
//}


////////////// do skorygowania szerokość - pasek do przewijania. Przed porządkami
//.bg_z0 {
//  margin: 0;
//  padding: 0;
//  width: 100vw;
//  height: 150vw;
//  background-image: url("../../images/bg_z0.jpg");
//  background-size: contain;
//  background-position: center;
//  //z-index: 0;
//  position: relative;
//  //overflow: hidden;
//  //overflow-y: hidden;
//
//  .overflow_container {
//    margin: 0;
//    padding: 0;
//    width: 100vw;
//    height: (1300 / 1920)*100vw;
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    overflow: hidden;
//
//    .bg_z1 {
//      margin: 0;
//      padding: 0;
//      width: (2000 / 1920)*100vw;
//      height: (1300 / 1920)*100vw;
//      background-image: url("../../images/bg_z1_2000.png");
//      background-size: contain;
//      background-position: center;
//      position: absolute;
//      bottom: -2vw;
//      left: -2vw;
//      //overflow: hidden;
//      //z-index: 1;
//    }
//  }
//
//  .bg_z2 {
//    margin: 0;
//    padding: 0;
//    width: 100vw;
//    height: (2880 / 1920)*100vw;
//    background-image: url("../../images/bg_z2.png");
//    background-size: contain;
//    background-position: center;
//    position: absolute;
//    bottom: -55vw;
//    left: 0;
//    //z-index: 2;
//
//    .bg_z3 {
//      margin: 0;
//      padding: 0;
//      width: 100vw;
//      height: (2880 / 1920)*100vw;
//      background-image: url("../../images/bg_z3_blur.png");
//      background-size: contain;
//      background-position: center;
//      position: absolute;
//      bottom: 0;
//      left: 0;
//      //z-index: 3;
//    }
//  }
//}

