@import "../../styles/colors";

body {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.bg_z0 .bg_z1 .bg_z2 .bg_z3 {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.all_layout {
  width: 100vw;
  height: 205vw;

  .bg_z0 {
    width: 100vw;
    height: 150vw;
    background-image: url("../../images/bg_z0.jpg");
    background-size: contain;
    position: relative;
    //z-index: 0;

    .bg_z1 {
      width: (2000 / 1920)*100vw;
      height: (1300 / 1920)*100vw;
      background-image: url("../../images/bg_z1_2000.png");
      background-size: contain;
      position: absolute;
      bottom: -2vw;
      left: -2vw;
      //z-index: 1;
    }
  }

  .bg_z2 {
    width: 100vw;
    height: (2880 / 1920)*100vw;
    background-image: url("../../images/bg_z2.png");
    background-size: contain;
    position: absolute;
    bottom: -55vw;
    left: 0;
    //z-index: 2;

  }
}




