@import "../../../styles/fonts";
@import "../../../styles/colors";

.to_overflow {
  position: relative;
  overflow: hidden;
  border-radius: 20px;


  .flashcard_container {
    width: 650px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease;


    .question_box, .answer_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 20px;
      color: $font-color;
      box-sizing: border-box;
    }

    .question_box {
      background: $question-color-bg;
      border: 10px solid $question-color-br;
    }

    .answer_box {
      background: $answer-color-bg;
      border: 10px solid $answer-color-br;
      transform: rotateY(180deg);
    }
    .flashcard_header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .flashcard_settings{
        padding: 10px;
        font-size: 22px;
        cursor: pointer;
        transition: all 1.0s linear;
      }
      .flashcard_settings:hover{
        transform: rotate(360deg);
      }


      .question_number {
        align-self: flex-end;
        padding: 10px;
      }
    }

    .tag_list {
      align-self: flex-start;
      padding: 10px;
    }

    .button_box {


      .next_question1, .show_answer {
        padding: 0 20px;
        height: 40px;
        border: none;
        border-radius: 20px;
        margin: 5px;
        background-color: $question-color-br;
        font-family: $billboard-font;
      }

      .next_question2, .turn_back {
        padding: 0 20px;
        height: 40px;
        border: none;
        border-radius: 20px;
        margin: 5px;
        background-color: $answer-color-br;
        font-family: $billboard-font;
      }
    }

    .emojiClass{
      font-size: 25px;
      background: none;
      border: none;
      padding-top: 10px;
      transition: all 0.15s linear;

    }
    .emojiClass:hover{
      transform: scale(1.5,1.5);
    }
  }
}

.no_flash {
  position: absolute;
  right: 50%;
  bottom: -20%;
  transform: translate(50%, 50%);
  width: 20%;
  height: 0;
  background-color: $question-color-br;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.flash {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 1200px;
  height: 1200px;
  background-color: $question-color-br;
  border-radius: 50%;
  transition: all 0.5s ease;

}

.settings {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: $question-color-br;
  border-radius: 50%;
  z-index: 99;
  transition: all 0.5s ease;
}

.settings_flash {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 2000px;
  height: 2000px;
  background-color: $question-color-br;
  border-radius: 50%;
  z-index: 99;
  transition: all 0.5s ease;
}






