@import "src/styles/colors";

.startBox_container {
  position: relative;
  width: 100vw;
  height: 55vw;


  .startBox_box {
    position: absolute;
    width: 900px;
    height: 600px;
    left: 50%;
    transform: translate(-50%, +50%);


    .flipping_box {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.8s ease;

      .arrow_box, .startBox_start{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 20px;
      }

      .arrow_box {
        font-size: 250px;
        color: $arrow-color;
      }

      .startBox_start {
        background: $startbox-color-bg;
        border: 15px solid $startbox-color-br;
        transform: rotateY(180deg) rotate(180deg);
      }
    }
  }
}

.hide{
  display: none;
}
//
//.show{
//  display: block;
//}