$question-color-bg: rgba(255, 255, 255, 0.7);
$question-color-br: rgb(255, 255, 255);

$answer-color-bg: rgba(252, 216, 60, 0.7);
$answer-color-br: rgb(252, 216, 60);

$startbox-color-bg: rgba(18, 64, 26, 0.7);
$startbox-color-br: rgb(18, 64, 26);

$font-color: rgb(0, 0, 0);
$arrow-color: rgb(255, 255, 255);