@import "src/styles/fonts";

.billboard_container {

  .pole {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 69vw;
    background-image: url("../../../images/pole.png");
    background-size: contain;
    position: absolute;
    bottom: 30vw;
  }

  .billboard {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: (1000/1800)*60vw;
    background-image: url("../../../images/billboard_yellow.png");
    background-size: contain;
    position: absolute;
    bottom: 97vw;
    left: 20vw;

    .js_logo {
      background-repeat: no-repeat;
      background-position: center;
      width: 10%;
      height: 20%;
      background-image: url("../../../images/js_logo.png");
      background-size: contain;
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .js_logo-black {
      background-repeat: no-repeat;
      background-position: center;
      width: 10%;
      height: 20%;
      background-image: url("../../../images/js_logo_black.png");
      background-size: contain;
      position: absolute;
      top: 66%;
      left: 49%;
      transform: translate(-50%, -50%);
    }

    .billboard_head {
      font-family: $billboard-font;
      text-align: center;
      font-size: 3vw;
      line-height: 4vw;
      color: #000;
      font-weight: 900;
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .billboard_link {
      font-family: $billboard-font;
      text-decoration: none;
      font-size: 0.9vw;
      color: #000;
      font-weight: 500;
      position: absolute;
      bottom: 13.5%;
      right: 3.5%;
      transform: rotate(-22deg);

    }
  }
}