@import "../../../styles/colors";
@import "../../../styles/fonts";

.newQuestion_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  .header_form {
    font-size: 22px;
    align-self: center;
    margin-bottom: 10px;
  }

  .textareaLabels {
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
      margin: 5px 0 10px;
    }
  }

  .selectLabels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 45%;

    .tagLabel {
      width: 100px;
      padding-right: 10px;
      text-align: right;
    }

    select {
      width: 150px;
      height: 26px;
      margin: 2px;
    }

    input {
      width: 150px;
      height: 20px;
      margin: 2px;
    }

    button {
      background: none;
      border: none;
      transition: all 0.15s linear;
      font-size: 20px;
      color: $font-color;
    }
  }

  .addButtonStyle {
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    background-color: $question-color-br;
    font-family: $billboard-font;
  }
}

